
.headerContainer {
    position: relative;
    background-color: lightgrey;
    border: 3px solid black;
    margin: 10px;
}

.headerContainer h1 {
    text-align:center;
}

.cartContainer {
    position:relative;
}

.cart{
    margin:auto;
    overflow: auto;
    height: 480px;
    width: 720px;
    border: 3px solid grey;
}