<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Administrative</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link th:href="@{/Admin.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <style>
        h1 {

            text-align: center;
            background-color: #808080;
            border-style: double;
            border: 3px solid black;

        }
    </style>

    <style>
        label {
            font-size: 30px;
        }
    </style>
    <style>
        textarea {
            text-align: center;
        }
    </style>
    <style>
        p {
            text-align: left;
        }
        </style>
    <style>
        button {
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>

</head>

<body>
<script type="text/javascript" th:src="@{/CreateCoupon.js}"></script>
<script type="text/javascript" th:src="@{/DeleteCoupon.js}"></script>
<script type="text/javascript" th:src="@{/ListAllCoupons.js}"></script>
<script type="text/javascript" th:src="@{/UpdateCoupon.js}"></script>
<div>
    <h2 id = "coTitle">Coupon Options: </h2>
    <h1>Coupons</h1>

    <button id="listAllCouponsButton" onclick="listAllCoupons()">Show all</button>
    <label id="showAllCouponLabel">Coupons: </label>

    <br>
<script>
    function couponButton() {
        document.getElementById("afterFunction").value =
            document.getElementById("couponArea").value;
    }
</script>
<script>
    function menuButton(){
        document.getElementById("afterMenuFunction").value =
            document.getElementById("menuArea").value
    }
</script>


<div>

    <h1>Create New Coupon</h1>
    <label>Coupon Code: </label>
    <input id="coupName" type="text" placeholder="Enter Coupon code here">
    <input id = "coupValue" type="number" placeholder="Enter Percentage off (5 = 5% off)">
    <button id = "couponButton" onclick="createCoupon()">Finalize Coupon</button>
    <textarea id="afterFunction"></textarea>
<br>
    <h1>Delete Coupon</h1>
    <label>Delete Coupon Code</label>
    <input id = "dcId" type="dcnumber" placeholder="Id" name="dcID" required>
    <button id="deleteCouponButton" onclick="deleteCoupon()">Delete Coupon</button>
    <br>

    <h1>Update Coupon</h1>
    <label>Update Coupon Code</label>
    <input id = "ucId" type="number" placeholder="Id" name="ucID" required>
    <input id="coupCode" type="text" placeholder="Enter Updated Coupon code here" name="upCid" required>
    <input id = "coupValueNew" type="number" placeholder="Enter Updated Coupon Value" name="upCvalId" required>
    <button id="updateCouponButton" onclick="updateCoupon()">Update Coupon</button>


</div>


<div><h2 id = "mTitle">Menu Options: </h2>
<div>
    <h1>Create New Menu Item</h1>
    <label>Menu Item: </label>
    <p>Name:<input type=text id="itemname"> </p>
    <p>Cost:<input type=number id="itemcost"> </p>
    <p>Picture URL:<input type=url id="picture"> </p>
    <button id = "Additem" onclick="addMItem()">Finalize Menu item</button>

</div>
<div>
    <h1>Delete Menu Item</h1>
    <p>MenuID:<input  id="delmenuid" type=number> </p>
    <button id = "deleteitem">Finalize Menu item</button>

</div>
<div>
    <h1>Update Menu Item</h1>
    <p>MenuID:<input type=number id="updatemenuid"> </p>
    <p>New Menu Name:<input type=text id="updatemenuname"> </p>
    <p>New menu cost:<input type=number id="updatemenucost"> </p>
    <button id = "updateitem">Finalize Menu item</button>

</div>
</div>

<div>
    <h2 id = "cTitle">Customer Options: </h2>
        <div>
            <h1>View Customer List </h1>
            <button id = "viewCusts" onclick="openList()">View</button>
            <label id = "customers">Customers:</label>

        </div>
        <div>
            <h1>Delete Customer </h1>
            <label><b>Id of Customer:</b></label>
            <input id = "cId" type="number" placeholder="Id" name="cID" required>
            <button id = "Delete" onclick="removeCust()">Delete</button>
        </div>

    <div>
        <h1>Update Customer </h1>
        <label><b>Id of Customer:</b></label>
        <input id = "uCust" type="number" placeholder="Id" name="cID" required>
       <br>
        <label id = "Name"><b>Name</b></label>
        <input id ="N" type="text" placeholder="Enter Name" name="Name" required>

        <label id = "Address"><b>Address</b></label>
        <input id ="A" type="text" placeholder="Enter Address" name="Address" required>

        <label id = "CC"><b>Credit Card Number</b></label>
        <input id ="C" type="text" placeholder="Credit Card Number" name="CC" required>
        <button id = "Update" onclick="updateCustomer()">update</button>
    </div>

    <style>
        #cTitle{
            text-align: left;
            background-color: green;
            border-style: double;
            font-size: 40px;
            border: 3px solid black;
        }
    </style>
    <style>
        #mTitle{
            text-align: left;
            background-color: green;
            border-style: double;
            font-size: 40px;
            border: 3px solid black;
        }
    </style>
    <style>
        #coTitle{
            text-align: left;
            background-color: green;
            border-style: double;
            font-size: 40px;
            border: 3px solid black;
        }
    </style>
</div>

<script>
var delid = $("#delmenuid").val();
 function getadditemstring()
    {
        var jsonStr = {

                name: $("#itemname").val(),
                cost:parseInt ($("#itemcost").val())

    };
        return JSON.stringify(jsonStr);
    }

function getupdateitemstring()
{
    var jsonStr = {
        name: $("#updatemenuname").val(),
        cost:parseInt ($("#updatemenucost").val())

    };
    return JSON.stringify(jsonStr);
}


    $("#Additem").click(function () {
        console.log("json");

        $.ajax({
            type: 'POST',
            url: 'https://localhost:8080/menu/add',

            data:getadditemstring(),
            contentType:'application/json',
            success: function () {
                return alert("Added item to menu ");
            }

        });

    });


    $("#deleteitem").click(function () {
        console.log(delid);
        $.ajax({
            method: "DELETE",
            url: 'https://localhost:8080/menu/delete',
            data:{id:$("#delmenuid").val()},

            success: function () {
                return alert("deleted item from menu ");
            }

        });

    });
$("#updateitem").click(function () {
    var id = $('#updatemenuid').val();
    console.log("json");
    $.ajax({
        type: 'PUT',
        url: 'https://localhost:8080/menu/update?id='+id,
        username: 'admin',
        password: 'admin',
        data:getupdateitemstring(),
        contentType:'application/json',
        success: function () {
            return alert("Updated Menu Item ");
        }

    });

});

</script>

</div>

</body>
<script type="text/javascript" th:src="@{/CustomerEdit.js}"></script>

</html>