<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link th:href="@{/Checkout.css}" type = "text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="headerContainer">
    <h1 id="header"></h1>
</div>

<section class="cartContainer">
    <div class="cart">
        <div style="float: left;">
            <label><input type="radio" name="method" value="pickup" checked> Pickup</label><br>
            <label><input id="del" type="radio" name="method" value="delivery"> Delivery</label><br>
            <label>Coupon Code</label><br>
            <input id="coupon" type="text" name="coupon"><br>
            <button id="calc" type="button" class = "btn btn-2 btn-sep icon-send">Calculate Total</button><br>
            <button id="checkout" type="button" class = "btn btn-2 btn-sep icon-send">Checkout</button><br>
            <button id="menu" type="button" class = "btn btn-2 btn-sep icon-send">Menu</button>
        </div>
        <div style="float: left; padding-left: 100px;">
            <ul id="list">
            </ul>
            <h2 id="total"></h2>
        </div>
    </div>
</section>



<script th:inline="javascript">
    $(function(){
        var customer = [[${custH}]];
        var coupons = [[${coupons}]];
        var method;
        var cust;
        var custid;
        $.get("/cust/id", function(data){
            custid =data;
            cust=customer[data].name;
            document.getElementById("header").innerHTML = "Checkout - " + cust;
        });

        $("#calc").click(function(){
            var total = 0;

            if(customer[custid].cart.length == 0)
            {
                document.getElementById("total").innerHTML = "Cart is empty";
            }
            else
            {
                while(document.getElementById("list").firstChild)
                {
                    document.getElementById("list").removeChild(document.getElementById("list").firstChild);
                }

                for(var i = 0; i < customer[custid].cart.length; i++)
                {
                    var node = document.createElement("LI");
                    total += customer[custid].cart[i].price;
                    var textnode = document.createTextNode(customer[custid].cart[i].item + " $" + customer[custid].cart[i].price);
                    node.appendChild(textnode);
                    document.getElementById("list").appendChild(node);
                }

                if(document.getElementById("del").checked){
                    var node = document.createElement("LI");
                    var textnode = document.createTextNode("Delivery $2");
                    node.appendChild(textnode);
                    document.getElementById("list").appendChild(node);
                    total += 2;
                    method="Delivery";
                }
                else
                {
                    method="Pickup";
                }

                if(document.getElementById("coupon").value !== "")
                {
                    var node = document.createElement("LI");
                    var textnode = document.createTextNode("Coupon: " + coupons[document.getElementById("coupon").value].name);
                    node.appendChild(textnode);
                    document.getElementById("list").appendChild(node);
                    total = total - (total * coupons[document.getElementById("coupon").value].discount);
                }

                document.getElementById("total").innerHTML = "Total: $" + total.toFixed(2);
            }
        });

        $("#checkout").click(function(){
            var url = "/cart/checkout?id=" + parseInt(custid) + "&method=" + method + "&cId=";

            if(document.getElementById("coupon").value !== ""){
                url += parseInt(document.getElementById("coupon").value);
            }
            else{
                url += -1;
            }
            $.ajax({
               url: url,
               type: "PUT",
                success : function(){
                   alert("Order has been placed.");
                }
            });

            while(document.getElementById("list").firstChild)
            {
                document.getElementById("list").removeChild(document.getElementById("list").firstChild);
            }
            document.getElementById("total").innerHTML = "Cart is empty";
        });

        $("#menu").click(function() {

            location.href="https://localhost:8080/menupage";
        });

    });
</script>

</body>
</html>