<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <link th:href="@{/menupage.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/bulma/0.6.0/css/bulma.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.12.0/css/font-awesome.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

<div class = title1>
    <h2>MENU</h2>
</div>

<script th:inline="javascript">


var menu = [[${menuH}]];
    $(function(){


        var i=0;
        while (menu[i]!=null) {
            var node = document.createElement("LI");
            var textnode = document.createTextNode(menu[i].item + "  $" + menu[i].price);
            node.appendChild(textnode);
            document.getElementById("list").appendChild(node);

            $("#butn").append("<li><button id ="+i+" class= \"btn btn-2 btn-sep icon-cart\">Add 1 "+ menu[i].item + " to cart</button></li>");
            var str = '#' + i;

            console.log(str);
            i++;

        }
    });

var custid;
$.get("/cust/id", function(data){
    custid=data;
});


$(document).on('click','.btn',function () {
           var p= $(this).attr('id');
        console.log(p);
            $.ajax({
                type: 'PUT',
                url: 'https://localhost:8080/cart/add?item='+p +'&'+ 'id='+custid,


                success: function (data) {
                    return alert(menu[p].item);
                }

            });


    });
</script>

<section>
    <div style="float: left; padding-left: 700px;">
<ol id = "list" class = "listol">

</ol>
</div>
</section>
<section>
<div style="float:right;padding-right: 700px;">
<ol id = "butn" class = "butnol">
</ol>
<img src="https://www.example.com/images/dinosaur.jpg%22%3E">
</div>
</section>


<section class = "Checkout Button">
    <div class = "checkout">

        <button onclick="location.href='/Checkout'" id = checkout class = "btn btn-2 btn-sep icon-send">Checkout</button>
    </div>
</section>


</body>
</html>


